<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" contents="{%if description%}{{description}}{%else%}{{site.description}}{%endif%}">
    <title>{{site.name}}{%if title%} - {{title}}{%endif%}  </title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <a href="http://www.rvaise.com">Rvaise</a>
    </header>

    {{ content | safe }}
</body>
</html>